* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body,html {
    height:100%;
    font-size:16px;
    line-height:1.5;
}

a:hover
{
    text-decoration:none;
    color:#403866;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    margin-bottom: 25px;
    color: rgb(107, 103, 100);
}
p {
    font-size:14px;
    line-height:1.7;
    color:#666;
    margin:0;
}
ul,li {
    margin:0;
    list-style-type:none;
}

button {
    outline:none!important;
    border:none;
    background:0 0;
}
button:hover {
    cursor:pointer;
}

html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
    margin: 50px 0;
}
footer {
    flex: 0 0 auto;
}
.button {
    color: #fff;
    background-color: #42b294;
    padding: 5px 45px;
    font-size: 18px;
}
.button:hover {
    color: #fff;
    background-color: #58c4a7;
    border-color: #58c4a7;
}
.wrap-button {
    max-width: 320px;
    margin-top: 40px;
}
.button-delete {
    color: #fff;
    background-color:  #fe4a21;
    padding: 5px 45px;
    font-size: 18px;
}
.button-delete:hover {
    color: #fff;
    background-color:  red;
}
.form-validation {
    color: #fe4a21;
    font-style: italic;
    padding-left: 0;
}
.left {
    float: left;
}
.right {
    float:right;
}
.wrap-info-product * {
    font-size: large;
}
.product-footer {
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn-add-product {
    background: #31af36;
    color: #fff;
    justify-content: center;
    min-width: 160px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-add-product:hover {
    color: #fff;
    background: #29a22e;
}
textarea {
    width: 100%;
    padding: 20px;
}
header {
    background: #2d394b;
    left: 0;
    padding: 10px 30px;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
}
header a:hover {
    color:#fff!important;
}
    header * {
        color: #9cc9f5!important;
    }

footer {
    background: #000;
    padding: 30px 0;
    margin-top: 30px;
}
    footer * {
        color: #fff;
    }

.product-body {
    margin-top: 20px;
}
.form-inline input {
    width: 75%;
}
.form-inline .button {
    width: 25%;
}
table a{
    color: #2d394b;
}
table a:hover{
    color: #42b294;
}

@media(max-width:992px){
    .table-custom-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

@media(max-width:560px){
    .form-inline input {
        width: 100%;
        text-align: center;
    }
    .form-inline .button {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .product-single .product-main {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
    }
    .product-single .product-image {
        width: 38%;
    }
    .product-single .product-body {
        width: 62%;
        padding-left: 30px;
    }
}

@media (min-width: 1200px) {
    .product-single .product-body {
        padding-left: 130px;
    }

}

